optionsviveprofiles.txt

usercache.json
usernamecache.json
rhino.local.properties

/saves
/logs
/local
/modernfix

/journeymap

/crash-reports

.vscode/
.fabric/

*.log

.curseclient



